<div class="card mb-3">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <% if user.online? %>
    <div class="text-success fa fa-circle"></div>
    <% else %>
    <div class="text-danger fa fa-circle"></div>
    <% end %>
    <%= link_to user.email, user_path(user) %>
  </div>
  <div class="card-footer">
    Signed up
    <%= time_ago_in_words(user.created_at) %>
    ago
  </div>
  <div class="card-footer">
    <b>
  <%= 'sign_in_count'.humanize + ":" %>
</b>
<b>
    <%= user.sign_in_count %>
    </b>
    <div class="row"></div>
    <b>
    <%= 'current_sign_in_at'.humanize + ":" %>
    <%= user.current_sign_in_at %>
    </b>
    <div class="row"></div>
    <b>
    <%= 'last_sign_in_at'.humanize  + ":"%>
    <%= user.last_sign_in_at %>
    </b>
    <div class="row"></div>
    <b>
    <%= 'current_sign_in_ip'.humanize + ":"%>
    <%= user.current_sign_in_ip %>
    </b>
    <div class="row"></div>
    <b>
    <%= 'last_sign_in_ip'.humanize + ":"%>
    <%= user.last_sign_in_ip %>
    </b>
  </div>
   <div class="card-footer">
    Courses Created:
    <%= user.courses_count %> |
     Enrollments:
    <%= user.enrollments_count %>
  </div>
   <div class="card-footer">
    e-mail confirmed:
    <% if user.confirmed_at.present? %>
    <div class="badge badge-success">Yes</div>
    <% else %>
    <div class="badge badge-danger">No</div>
    <% end %>
  </div>
  <div class="card-footer">
  <b>
    <% user.roles.each do |role| %>
    <div class="badge badge-info">
      <%= role.name %>
    </div>
    <% end %>
  </b>
  <% if policy(user).edit? %>
  <%= link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning' %>  
  <% end %>
  </div>
</div>
