<% content_for :title do %>
Corsego | All Enrollments
<% end %>

<h3 class= "text-center">Enrollments <div class="badge badge-info"><%= @enrollments.count %></div></h3>
<div>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :review_cont, placeholder: 'review contains' %>
    <%= f.search_field :rating_eq, placeholder: 'rating contains' %>
    <%= f.submit %>
  <% end %>
  <div class="ml-2"></div>
  <%= link_to 'refresh', enrollments_path %>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sort_link(@q, :user_email) %></th>
      <th><%= sort_link(@q, :created_at) %></th>
      <th><%= sort_link(@q, :course_title) %></th>
      <th><%= sort_link(@q, :price) %></th>
      <th><%= sort_link(@q, :updated_at) %></th>
      <th><%= sort_link(@q, :rating) %></th>
      <th>Review</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.id %></td>
        <td><%= link_to enrollment.user, user_path(enrollment.user) %></td>
        <td><%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %></td>
        <td><%= link_to enrollment.course, course_path(enrollment.course) %></td>
        <td><%= number_to_currency(enrollment.price) %></td>
        <td>
          <% if enrollment.rating.present? %>
            <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %>
          <% end %>
        </td>
        <td><%= enrollment.rating %></td>
        <td><%= enrollment.review %></td>
        <td><%= link_to 'See Review', enrollment %></td>
        <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
        <td>
          <%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy)%>
</div>
