
<%= simple_form_for([@course, @lesson]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, input_html: {autocomplete: 'off'} %>
    <%= f.input :content, as: :rich_text_area %>
    <%= f.input :video %>
    <% if @lesson.video.attached? %>
      <%= @lesson.video.filename %>
      <%= link_to "Remove video & thumbnail", delete_video_course_lesson_path(@course, @lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= f.input :video_thumbnail %>
    <% if @lesson.video_thumbnail.attached? %>
      <%= @lesson.video_thumbnail.filename %>
    <% end %>
    
    <%# f.association :course %>
    <%# f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}, as: :hidden %>
  </div>
  <% if @lesson.errors.any? %>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="form-actions mt-3">
    <%= f.button :submit %>
  </div>
<% end %>
