<% content_for :title do %>
  Corsego 
  \/
  Course
  <%= @course.title %>
  \/
  Lesson
  <%= @lesson.title %>
<% end %>

<%= link_to 'Courses', courses_path %>
\/
<%= link_to course_path(@lesson.course) do %>
  <div class="fa fa-graduation-cap"></div>
  <%= @lesson.course.title %>
<% end %>
\/
<%= link_to course_lesson_path(@course, @lesson) do %>
  <div class="fa fa-check-square"></div>
  <%= @lesson.title %>
<% end %>

<p></p>

<div class="row">
  <div class="col-lg-8">
    <%= render 'lessons/lesson', lesson: @lesson %>
    <h4>
    <i class="fa fa-comment"></i>
    All comments: <%= @comments.present? ? @lesson.comments_count : "No comments" %>
  </h4>
  <div class="card">
    <div class="card-header">
      New comment
    </div>
    <div class="card-body">
      <%= render 'lessons/comments/form' %>
    </div>
  </div>
  <p></p>
  <% @comments.each do |comment| %>
    <%= render 'lessons/comments/comment', comment: comment %>
    <p></p>
  <% end %>
  </div>
  <div class="col-lg-4">
    <ul class="list-group mb-3">
      <li class="list-group-item">
        <%= link_to course_path(@lesson.course) do %>
          <div class="fa fa-graduation-cap"></div>
          <%= @lesson.course.title %>
        <% end %>
        <div class="row"></div>
        <div class="fa fa-spinner"></div>
        <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
      </li>
      
      <% @lessons.each do |lesson| %>
        <% if @lesson.present? && lesson == @lesson %>
          <li class="list-group-item list-group-item-success">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </li>
        <% else %>
          <li class="list-group-item">
            <%= render 'lessons/lesson_preview', lesson: lesson %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
