<div class="container">
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <% if @course.avatar.attached? %>
        <%= image_tag @course.avatar, width: '200', height: '200' %>
     <% end %>
    <%= f.file_field :avatar %>
    <div class="row"></div>
    <%= @course.avatar.filename %>
    <%= f.error :avatar, class: 'text-danger' %>
    <div class="row">
    <%= f.label :description %>
    </div>
    <%= f.rich_text_area :description %>
    <small>
  <%= f.error :description, class: 'text-danger' %>
</small>
    <%= f.input :short_description %>
    <%= f.input :language, collection: ["English", "French", "Spanish"] %>
    <%= f.input :level, collection: ["Beginner", "Intermediate", "Advanced"] %>
    <%= f.input :price %>
    <%= f.input :published %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>