<% content_for :title do %>
Corsego | <%= @course.title %>
<% end %>
<%= link_to 'Courses', courses_path %>
\
<%= link_to @course.title, course_path(@course) %>
<p></p>
<div class="row mt-3">
<div class="col-lg-6">
<%= render 'courses/course', course: @course %>
</div>
<div class="col-lg-6">
    <% if policy(@course).owner? %>
        <%= link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-block text-white mb-3' %>         
    <% end %>
<% @lessons.each do |lesson| %>
<%= render 'lessons/lesson', lesson: lesson %>
<% end %>
</div>
</div>